@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

.header {
  align-items: center;
  display: flex;
  height: 70px;
  width: 100%;
}

.header .wallet-svg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 35%;
}

.header .wallet-svg span {
  font-family: 'Dongle', sans-serif;
  font-size: 15px;
  margin-right: 2px;
}

.header .wallet-svg svg {
  font-size: 30px;
}

.header .user {
  width: 65%;
}

.header .user , .user-info {
  align-items: center;
  display: flex;
  padding-right: 35px;
}

.user-info {
  border: 1px solid rgb(0 0 0 / 24%);
  border-radius: 160px;
  margin-right: 40px;
  padding: 9px 6px;
}

.header .user .user-svg {
  font-size: 19px;
}

.form-container {
  background-color: #004643;
  color: #fffffe;
  display: flex;
  flex-direction: column;
  padding: 19px 10px;
  width: 100%;
}

.form-container label {
  margin-bottom: 10px;
}

select option {
  background-color: #201d1d;
  color: #f0f7f4;
}

.form-container div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-container button {
  align-self: center;
  background-color: #f9bc60;
  border: none;
  border-radius: 5px;
  color: #001e1d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 8px 0;
  transition: 0.3s;
  width: 40%;
}

.form-container button:hover {
  background-color: #f8ac3a;
}

@media screen and ( min-width : 480px ) {

  .header {
    height: 90px;
    justify-content: center;
    margin: 0 auto;
  }
  
  .header .wallet-svg span {
    font-size: 12px;
  }

}

@media screen and ( min-width : 768px ) {

  .header {
    padding: 0 35px;
  }

  .header .wallet-svg {
    width: 20%;
  }

  .header .user {
    display: flex;
    justify-content: flex-end;
    width: 75%;
  }

  .header .wallet-svg span {
    font-size: 42px;
  }

  .header .wallet-svg svg {
    font-size: 50px;
    margin-left: 35px;
  }

  .form-container {
    align-items: center;
    flex-flow: row wrap;
  }

  .form-container label {
    margin-bottom: 0;
    margin-left: 5px;
  }

  .form-container label input , .form-container label select {
    padding: 10px;
  }

  .form-container label:nth-child( 1 ) input {
    width: 95px;
  }

  .form-container label:nth-child( 5 ) {
    width: 310px;
  }

  .form-container button {
    border-radius: 10px;
    justify-content: center;
    padding: 14px 0;
    width: 200px;
  }
}
